<div  class="footer" >
    <div class="project-info">
        <div class="database">
        <p>Database and design inspiration</p>
        <a href="https://rawg.io/" target="_blank">
            <img src="../../../assets/rawg-logo.png" alt="">
        </a>
        </div>
        
        <div class="vue">
            <p>Project built with</p>
        <a href="https://angular.io/" target="_blank">
            <img src="../../../assets/logo.png" alt="">
        </a>
        </div>
        
    </div>
</div>
