@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$base-width:1640px;


$primary-bg:#790707;
$secondary-bg:#9a0909;

$border-small: 10px;
$border-medium: 15px;
$border-large: 20px;