<div class="nav-container">
    <div (click)="NavClick($event)" id="nav" class="navigation" [ngClass]="{ 'navigation-show': isNotActive }">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Home</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/developers">Developers</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/games">AllGames</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/genres">Genres</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/tags">Tags</a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/platforms">Platforms</a>
    </div>

    <div class="hamburger">
        <i (click)="ToggleNav()"  [ngClass]="{ 'fas fa-bars show': isActive}"></i>
        <i (click)="ToggleNav()"  [ngClass]="{ 'fas fa-times': isNotActive }"></i>
    </div>

</div>
